body {
  background-color: #f0c32f;
}

.App {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../public/book-background-image.jpg");
  background-size: cover;
}

#landing-page-div {
  background-color: #f9e4cdb8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10em 4em 4em 4em;
  padding: 7em 2em 7em 2em;
  max-height: 100%;
  border-radius: 5px;
  filter: drop-shadow(16px 16px 10px black);
}

#landing-page-image {
  object-fit: cover !important;
}

.headers {
  letter-spacing: 0.07em;
}

.btn {
  margin: 30px 15px 25px 15px;
}

.landing-page-h1 {
  font-size: 5.5vw;
  margin: 10px 10px 10px 10px;
}

.landing-page-h2 {
  font-size: 4vw;
  font-weight: lighter;
}

.find-club-header {
  font-size: 7vw;
  margin-top: 50px;
}

.find-club-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f9e4cdb8;
  margin: 7em 7em 0em 7em;
  border-radius: 5px;
  filter: drop-shadow(16px 16px 10px black);
}

.find-club-form {
  padding: 1em 1em 1em 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
}

.find-club-form label {
  display: inline-block;
  width: 100%;
  margin-right: 0px;
}

.find-club-bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 100%;
  background-color: #f9e4cdb8;
  margin: 3em 7em 0em 7em;
  border-radius: 5px;
  filter: drop-shadow(16px 16px 10px black);
}

.results-header {
  font-size: 4.5vw;
  margin-bottom: 1em;
}

.club-searchbar {
  /* margin: 20px 20px 20px 20px; */
  padding: 0.3em 0.25em 0.3em 0.25em;
  width: 100%;
  border-radius: 5px;
}

.main-page-main-div {
  background-color: #f9f4e6;
}

.section-main-page {
  background-color: white;
  margin: 50px 50px 50px 50px;
  padding: 4em 2em 4em 2em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  filter: drop-shadow(0.25em 0.25em 0.25em rgb(204, 204, 204));
  max-width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-display-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-header {
  margin-top: 50px;
}

.club-name-header {
  font-size: 8vw;
}

.book-header {
  margin-bottom: 35px;
}

.book-title {
  margin-top: 35px;
  margin-bottom: 35px;
  letter-spacing: 0.05em;
  font-size: 4vw;
}

.book-description {
  text-align: justify;
}

.change-book-form {
  margin-top: 35px;
  margin-bottom: 35px;
}

.change-book-form input {
  padding: 1em;
  margin: 2em 0em 0em 0em;
  border-radius: 0.75em;
  border: 0;
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.06);
  width: 100%;
}

.create-club-header {
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 6vw;
}

.create-club-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-club-form {
  background-color: #f9f4e6;
  margin: 50px 50px 50px 50px;
  padding: 40px 75px 40px 75px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

.sign-in-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-in-header {
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 6vw;
}

.sign-in-form {
  background-color: #f9f4e6;
  margin: 50px 50px 50px 50px;
  padding: 40px 75px 40px 75px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
